// Variables for css Property Rule
$bg-color : hsl(229, 57%, 11%);
$card-color : hsl(228, 56%, 26%);
$ft-color :hsl(243, 100%, 93%);
$gray-blue : hsl(229, 7%, 55%);
$ft-family : 'Raleway', sans-serif;