@import "_CSSreset"; 
@import "_variables";
@import "_mixin";

// Body Design Code
body{
    @include  flexBox(column, center ,center);
    font-family: $ft-family;
    color: $ft-color;
    background: url("../images/bg-desktop.png") $bg-color no-repeat;
    background-size: 100% 60%;
    background-position: center 330px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    
    main{
        @include flexBox(row, center ,center);
        width: 100%;
        max-width: 1000px;  
        padding: 0.5rem;
        
        section{
            margin: 1rem;
            padding: 1rem 1rem 0.5rem 2.5rem;
            background: $card-color;
        }
    }
}

// #Item-1 Card Design SCSS/CSS Nesting & Variables Code
#item-1{
    width: 35%;
    @include border(100px);

    h2{
        align-self: flex-start;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-left: -0.5rem;
        @include border(100px);
    }

    .file-container{
        @include flexBox(row, flex-start, center);
        padding: 1.1rem 0 1rem; 
        margin-left: -0.5rem;

        a{
            @include flexBox(row,flex-end, center);
            width: auto;
            height: 3.1rem;
            margin: 0.45rem;
            background: $bg-color;
            padding: 0.8rem;
            border-radius: 10px;
            cursor: pointer;

            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

// #Item-2 Card Design SCSS/CSS Nesting & Variables Code
#item-2{
    width: 55%;
    border-radius: 10px;
    align-self: flex-end;
    padding: 2.5rem;

    .dataleft{
        @include flexBox(row ,center ,center);
        width: 11rem;
        height: 4rem;
        float: right;
        position: relative;
        margin-top: -5rem;
        padding: 1.9rem 0.5 1.9rem 0.5rem;
        border: 1px solid black;
        background: white;
        border-radius: 10px;
        
        h2{
            font-size: 2.5rem;
            color: black;
            font-weight: 600;
            align-self: center;
        }
        
        h6{
            color: $gray-blue;
            font-weight: 600;
            font-size: 0.8rem;
            align-self: center;
            margin-top: 2.1rem;
            margin-left: 0.3rem;
        }
    }
    
    .description{
        color: $ft-color;
        font-size: 15px;
        opacity: 0.8;
    }
    
    .sliderContainer{
        width: 100%;
        padding: 0.15rem;
        margin: 0.5rem;
        margin-left: -0.1rem;
        border-radius: 10px;
        background: $bg-color;
        opacity: 0.9;

        .datalabel{
            border-width: 7.5px;
            border-style: solid;
            border-color: hsl(335, 100%, 65%);
            border-radius: 10px;
            width: 75%;
        }
        .circle{
            float: right;
            width: 10px;
            margin-top: -0.3rem;
            margin-right: -0.3rem;
            border-width: 5px;
            border-style: solid;
            border-color: white;   
            border-radius: 100%
        }
    }

    .data-usage{
        @include flexBox(row, space-between , center);

        h4{
            font-size: 12px;
        }
    }
}

// Footer Design Code
footer{
    font-size: 0.8rem;
    font-weight: 600;
    word-spacing: 0.1rem;
    margin-top: 2rem;

    a{
        color: orange;
        cursor: pointer;

        &:hover{
            text-decoration: none;
            color: peachpuff;
        }
    }
}

@media all and (max-width: 971px) {
    body{
        margin-top: -2.5rem;
        
        main{
            @include flexBox(column, center, center );
            transition: 0.3s;
            
            section{
                width: 100%;
            }
        }
    }

    #item-1, #item-2{
        width: 100%;
        align-self: center;
    }

    #item-1{
        @include flexBox(column, center ,center );
        
        .hidden-logo{
            align-self: center;
        }
    }

    .dataleft{
        transition: 0.3s;
        bottom: -10.80rem;
    }
    
    footer{
        margin-top: 3.5rem;
    }
}

@media screen and (max-width: 462px) {
    #item-1{
        align-items: flex-start;
        transition: 0.4s;

        .hidden-logo{
            align-self: flex-start;
            transition: 0.4s;
        }
    }

    footer{
        text-align: center;
        line-height: 1.8;
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 400px) {
    body{
        margin-top: -4rem;
        background: url("../images/bg-mobile.png") no-repeat;
        background-size: 100% 200%;
    }
    #item-2{
        margin-top: -0.1rem;

        .description{
            transition: 0.3s;
            text-align: center;
            font-size: 0.85rem;
            margin-bottom: 1rem;
        }
    }
    .dataleft{
        transition: 0.3s;
        left: -2.1rem;
    }
}

